<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./vendor/autoload.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         cacheResult="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="true"
         defaultTestSuite="tests">
  <extensions>
    <bootstrap class="Zitadel\Sdk\Spec\Setup"/>
    <bootstrap class="Mridang\PHPUnitReporters\JestReporterExtension">
      <parameter name="cloverPath" value="build/coverage/clover.xml"/>
    </bootstrap>
  </extensions>
  <testsuites>
    <testsuite name="tests">
      <directory suffix="Test.php">./test</directory>
    </testsuite>
    <testsuite name="specs">
      <directory suffix="Spec.php">./spec</directory>
      <exclude>./spec/fixtures</exclude>
      <exclude>./spec/AbstractIntegrationSpec.php</exclude>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="8191"/>
    <ini name="memory_limit" value="1024M"/>
    <env name="APP_ENV" value="test"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
    <exclude>
      <directory suffix=".php">./vendor</directory>
      <directory suffix=".php">./test</directory>
      <directory suffix=".php">./spec</directory>
    </exclude>
  </source>
  <logging>
    <junit outputFile="build/reports/junit-raw.xml"/>
  </logging>
</phpunit>
