APP_NAME=ZitadelFixture
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:9001

ZITADEL_ISSUER_URL=https://my.zitadel.cloud
ZITADEL_CLIENT_ID=
ZITADEL_REDIRECT_URI=http://localhost:9001/zitadel/callback
ZITADEL_COOKIE_SECRET=
